h1{font-family:verdana;
text-align: center;}
h2{font-family: verdana;
text-align: center;}
a{text-decoration: none;
text-align:center;
font-family:verdana;
color: Black;
border: solid 5px;}
body{background-color: white;}
